@mixin brands(){
    .brands{
        position: relative;
        .inner{
            padding-top: 100px;
            position: relative;
            .screen{
                margin-left: 125px;
                border: 1px solid rgba(0, 0, 0, 0.24);
                border-radius: 10px; 
                max-width: 890px;
                position: relative;
                padding: 15px;
                margin-bottom:80px;
                @media(max-width: 767px){
                    margin-bottom:50px;
                }
                @media(max-width: 567px){
                    padding: 12px;
                    width: calc(100% + 100px);
                    left: -230px;
                }
                .dots{
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 15px;
                }
                .screen-wrap{
                    position: relative;
                    height: 377px;
                    width: 100%;
                    border-radius: 24px;
                    overflow: hidden;
                    @media(max-width: 767px){
                        border-radius: 0px;
                        height: 340px;
                    }
                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        @media(max-width: 767px){
                            left: auto;
                            right: 0;
                            scale: 1.1;
                        }
                    }
                }
                .hearts{
                    position: absolute;
                    top: 0;
                    left: calc(100% + 19px);
                    display: flex;
                    flex-direction: column;
                    grid-gap: 15px;
                    @media(max-width: 1250px){
                        flex-direction: row;
                        top: -15px;
                        transform: translateY(-100%);
                        left: auto;
                        right: 0;
                    }
                    @media(max-width: 991px){
                        grid-gap: 10px;
                        top: 0px;
                    }
                    svg{
                        @media(max-width: 991px){
                            width: 50px;
                        }
                    }
                }
            }
            .cta{
                background: rgba(255, 255, 255, 0.9);
                border: 1px solid rgba(0, 0, 0, 0.4);
                border-radius: 24px;
                max-width: 380px;
                width: 100%;
                padding: 24px;
                position: absolute;
                left: -15px;
                top: 200px;
                z-index: 5;
                @media(max-width: 767px){
                    top: auto;
                    bottom: -240px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .title{
                    font-family: $lato;
                    font-weight: 900;
                    font-size: 22px;
                    line-height: 130%;
                    letter-spacing: 0.11em;
                    text-transform: uppercase;
                    color: #000000;
                }
                .description{
                    margin-top: 8px;
                    margin-bottom: 18px;
                    font-family: $inter;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 120%;
                    color: #000000;
                }
                .button{
                    position: absolute;
                    display: flex;
                    transition: 300ms ease;
                    padding: 14px 24px;
                    background: linear-gradient(274.31deg, #4D44EF 5.99%, #3678E6 95.21%);
                    border-radius: 50px;
                    align-items: center;
                    grid-gap: 8px;
                    transform: translateX(-50%);
                    left: 50%;
                    width: max-content;
                    bottom: -30px;
                    z-index: 5;
                    .icon{
                        width: 25px;
                        height: 35px;
                        position: relative;
                        img{
                            position: absolute;
                            transform: translate(-50%, -50%);
                            top: 50%;
                            left: 50%;
                        }
                    }
                    animation: btnEffectReverse 0.3s forwards;
                    &:hover{
                        animation: btnEffect 0.3s forwards;
                    }
                    .link{
                        font-family: $inter;
                        font-weight: 500;
                        color: white;
                        font-size: 16px;
                        line-height: 140%;
                    }
                }
            }
            .numbers{
                font-family: $lato;
                font-weight: 900;
                font-size: 330px;
                line-height: 80%;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                background: linear-gradient(223.5deg, #1BB7F3 14.9%, #2B5BE6 88.34%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                mix-blend-mode: multiply;
                text-align: center;
                transform-origin:top;
                @media(max-width: 991px){
                    font-size: 260px;
                }
                @media(max-width: 767px){
                    font-size: 180px;
                }
                @media(max-width: 767px){
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .stat-marquee{
            display: flex;
            width: 100%;
            //overflow: hidden;
            position: absolute;
            left: 0;
            grid-gap: 200px;
            top: 560px;
            @media(max-width: 767px){
                top: 505px;
            }
            .marquee-item{
                // animation: slide 40s infinite;
                // animation-timing-function: linear;
                font-family: $lato;
                font-weight: 900;
                font-size: 55px;
                line-height: 120%;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                background: linear-gradient(239.13deg, #19C2F3 11.65%, #0E74F9 95.45%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                mix-blend-mode: multiply;
                white-space: nowrap;
                @media(max-width: 767px){
                    font-size: 45px;
                }
            }
        }
    }
}
