@mixin conversion(){
    .conversion{
        .inner{
            position: relative;
            .stats{
                opacity:0;
                margin-left: 90px;
                text-transform: uppercase;
                margin-bottom: 40px;
                padding-top: 80px;
                @media(max-width: 767px){
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-left: 0;
                }
                .top-text{
                    margin-left: 55px;
                    font-family: $lato;
                    font-weight: 900;
                    font-size: 40px;
                    line-height: 80%;
                    letter-spacing: 0.02em;
                    background: linear-gradient(223.5deg, #1ACBF2 14.9%, #0E74F9 88.34%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    mix-blend-mode: multiply;
                    position: relative;
                    z-index: 5;
                    @media(max-width: 567px){
                        font-size: 30px;
                    }
                    @media(max-width: 350px){
                        font-size: 24px;
                    }
                }
                .numbers{
                    font-family: $lato;
                    font-weight: 900;
                    font-size: 270px;
                    line-height: 80%;
                    letter-spacing: 0.02em;
                    background-image: linear-gradient(223.5deg, #4841D2 14.9%, #0E74F9 88.34%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    mix-blend-mode: multiply;
                    @media(max-width: 1280px){
                        font-size: 240px;
                    }
                    @media(max-width: 991px){
                        font-size: 230px;
                    }
                    @media(max-width: 775px){
                        font-size: 190px;
                    }
                    @media(max-width: 567px){
                        font-size: 170px;
                    }
                    @media(max-width: 350px){
                        font-size: 150px;
                    }
                }
                .text{
                    margin-left: 55px;
                    font-family: $lato;
                    font-weight: 900;
                    font-size: 40px;
                    line-height: 180%;
                    letter-spacing: 0.02em;
                    background-image: linear-gradient(185.73deg, #4841D2 9.97%, #0E74F9 113.54%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    mix-blend-mode: multiply;
                    position: relative;
                    z-index: 5;
                    white-space: nowrap;
                    @media(max-width: 767px){
                        white-space: normal;
                        line-height: 100%;
                    }
                    @media(max-width: 567px){
                        font-size: 30px;
                    }
                    @media(max-width: 350px){
                        font-size: 24px;
                    }
                }
            }
            .cta{
                margin-left: 225px;
                z-index: 5;
                margin-top: 40px;
                padding: 24px;
                background-color: rgba(255, 255, 255, 0.9);
                border: 1px solid rgba(0, 0, 0, 0.24);
                border-radius: 24px;
                max-width: 396px;
                width: 100%;
                position: relative;
                @media(max-width: 767px){
                    top: 400px;
                    margin-left: 100px;
                }
                @media(max-width: 567px){
                    top: 315px;
                    margin-left: 0px;
                    margin-right: 70px;
                    max-width: none;
                    width: auto;
                }
                @media(max-width: 380px){
                    margin-right: 30px;
                }
                .title{
                    font-family: $lato;
                    font-weight: 900;
                    font-size: 22px;
                    line-height: 120%;
                    letter-spacing: 0.11em;
                    text-transform: uppercase;
                    color: #000000;
                    margin-bottom: 8px;
                }
                .description{
                    margin-top: 8px;
                    margin-bottom: 14px;
                    font-family: $inter;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 120%;
                    color: #000000;
                    @media(max-width: 567px){
                        font-size: 14px;
                        margin-bottom: 20px;
                    }
                }
                .button{
                    position: absolute;
                    display: flex;
                    transition: 300ms ease;
                    padding: 14px 24px;
                    background: linear-gradient(274.31deg, #4D44EF 5.99%, #3678E6 95.21%);
                    border-radius: 50px;
                    align-items: center;
                    grid-gap: 8px;
                    transform: translateX(-50%);
                    left: 50%;
                    width: max-content;
                    bottom: -35px;
                    z-index: 5;
                    @media(max-width: 567px){
                        left: calc( 50% + 30px);
                    }
                    @media(max-width: 400px){
                        left: 50% ;
                    }
                    .icon{
                        width: 25px;
                        height: 35px;
                        position: relative;
                        img{
                            position: absolute;
                            transform: translate(-50%, -50%);
                            top: 50%;
                            left: 50%;
                        }
                    }
                    animation: btnEffectReverse 0.3s forwards;
                    &:hover{
                        animation: btnEffect 0.3s forwards;
                    }
                    .link{
                        font-family: $inter;
                        font-weight: 500;
                        color: white;
                        font-size: 16px;
                        line-height: 140%;
                    }
                }
            }
            .info-box{
                opacity: 0;
                font-family: $inter;
                font-weight: 700;
                font-size: 14px;
                line-height: 1.2;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: black;
                background: rgba(255, 255, 255, 0.6);
                backdrop-filter: blur(2px);
                padding: 10px 20px;
                border-radius: 16px;
                text-align: right;
                border: 1px solid rgba(0,0,0, 0.1);
                // positioning
                position: absolute;
                z-index: 20;
                width: 155px;
                right: 0%;
                bottom: 0%;
                transform: translateY(50%);
            }
        }
        .banner-bottom-link{
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            @media(max-width:1280px){
                bottom: 25px;
            }
            @media(max-width:575px){
                width: 70%;
                bottom: 5px;
                flex-direction: column;
            }
            p{
                font-family: $inter;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #3678E6;
                margin-left: 5px;
                white-space: nowrap;
                @media(max-width:775px){
                    color: #4C46EF;
                }
                @media(max-width:575px){
                    font-size: 16px;
                    line-height: 19px;
                    white-space: unset;
                }
            }
            img{
                position: relative;
                animation: ani 2s infinite ease-in-out;
                cursor: pointer;
            }
            @keyframes ani{
                from{
                    top : -5px;
                }
                to{
                    top: 10px;
                }
            }
        }
    }
}
