@import 'returns';
@import 'conversion';
@import 'brands';


.mid-section{
    //overflow: hidden;
    position: relative;
    .backgrounds{
        position: absolute;
        inset: 0;
        z-index: -1;
        .section-bg{
            position: absolute;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .model{
        z-index: 3;
        position: fixed;
        top: 0;
        left: 50%;
        height: 100%;
        transform: translateX(-50%);
        pointer-events: none;
        video{
            height: 100%;
            &.multiple{
                display:none;
            }
        }
    }
    .sub-sections{
        // overflow: auto;
        .sub-section{
            padding: 0 30px;
            height: 100vh;
            background-repeat:no-repeat;
            background-position:center top;
            background-size:cover;
            .inner{
                max-width: 1150px;
                margin: 0 auto;
            }
        }
        @include returns();
        @include conversion();
        @include brands();
    }
    .scroll-down-buttons{
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 900px;
        width: 100%;
        z-index: 10;
        height: 100px;
        display:none;
        .button{
            position: absolute;
            left: 50%;
            height: 80px;
            transform: translateX(-50%);
            &.sd1{
                display: flex;
                grid-gap: 16px;
                align-items: center;
                justify-content: center;
                .icon{
                    transition: 200ms ease;
                    cursor: pointer;
                    &:hover{
                        transition: 200ms ease;
                        transform: translateY(5px);
                    }
                }
                .link{
                    font-family: $inter;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 120%;
                    text-align: center;
                    color: #4C46EF;
                }
            }
            &.sd2{
                display: flex;
                justify-content: center;
                grid-gap: 16px;
                align-items: center;
                z-index: 5;
                .icon{
                    transition: 200ms ease;
                    cursor: pointer;
                    &:hover{
                        transition: 200ms ease;
                        transform: translateY(5px);
                    }
                }
                .link{
                    font-family: $inter;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 120%;
                    text-align: center;
                    color: #4C46EF;
                }
            }
            &.sd3{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                z-index: 5;
                .link{
                    font-family: $inter;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 120%;
                    text-align: center;
                    color: #3678E6;
                }
                .icon{
                    transition: 200ms ease;
                    cursor: pointer;
                    &:hover{
                        transition: 200ms ease;
                        transform: translateY(5px);
                    }
                }
            }
        }
    }
}
.preload{
    // display: none; 
    .container{
        background-repeat: no-repeat;
        height: 100vh;
        position: fixed;
        inset: 0;
        z-index: 1111;
        display: flex;
        align-items: center;
        .inner{
            max-width: 500px;
            margin: 0 auto;
            @media(max-width:575px){
                max-width: 350px;
                padding: 0px 20px;
            }
            .title{
                font-family: $inter;
                font-style: normal;
                font-weight: 700;
                font-size: 35px;
                line-height: 30px;
                letter-spacing: 0.01em; 
                color: #FFFFFF;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                text-align: center;
                padding-bottom: 20px;
                @media(max-width:575px){
                    font-size: 30px;
                }
            }
            .box{
                background: rgba(255, 255, 255, 0.9);
                mix-blend-mode: normal;
                border: 1px solid rgba(0, 0, 0, 0.24);
                border-radius: 24px;
                padding: 24px 24px 50px 24px;
                .head{
                    font-family: $lato;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 30px;
                    line-height: 35px;
                    text-align: center;
                    letter-spacing: 0.11em;
                    text-transform: uppercase;
                    color: #000000;
                    padding-bottom: 15px;
                    padding-left: 35px;
                    padding-right: 35px;
                    @media(max-width:575px){
                        font-size: 25px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                }
                .subtext{
                    font-family: $inter;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 100%;
                    color: #000000;
                    padding-bottom: 15px;
                    @media(max-width:575px){
                        font-size: 16px;
                        line-height: 17px;
                    }
                    @media(max-width:375px){
                        font-size: 14px;
                    }
                }
                span{
                    font-family: $inter;
                    font-style: italic;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%; 
                    color: #000000; 
                    @media(max-width:575px){
                        font-size: 14px;
                        line-height: 15px;
                    }
                    @media(max-width:375px){
                        font-size: 12px;
                    }
                }
                .box-btn{
                    .process{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 14px 32px 14px 24px;
                        gap: 8px; 
                        position: absolute;
                        width: 188px;
                        height: 52px;
                        left: calc(50% - 188px/2); 
                        background: linear-gradient(274.31deg, #4D44EF 5.99%, #3678E6 95.21%);
                        border-radius: 50px;
                        text-decoration: none;  
                        margin-top: 25px;
                        p{
                            font-family: $inter;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 22px;
                            color: #fff;
                        }
                    }
                    .preview{
                        display: none; 
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 14px 32px 14px 24px;
                        gap: 8px;
                        position: absolute;
                        width: 188px;
                        height: 52px;
                        left: calc(50% - 188px/2);  
                        text-decoration: none;
                        margin-top: 25px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}